<!DOCTYPE html>
<html>
<head>
    <title>Esport Montreal</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js" charset="utf-8"></script>
    {% stylesheets 'bundles/assets/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% javascripts '@EsportBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
<div>
    <nav class="navbar navbar-default navBarColor" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Esport Montreal</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path("_player_page",{"id":app.user.id}) }}">
                            <strong>
                                {{ app.user.gamertag }}
                            </strong>
                        </a>
                    </li>
                    <li class="{#  app.session.get('console').name|replace({' ':''}) }}#}">
                        <a href="{{ path('_games') }}">
                            <strong>
                                {% if app.session.get('game') %}
                                    {{app.session.get('game').name}}
                                {% endif %}
                            </strong>
                        </a>
                    </li>
                    {% if app.user %}
                        <li><a href="{{ path('_notifications') }}">Notifications <span class="notifNumber">{{ render(controller('EsportBundle:Notification:count')) }}</span></a></li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My teams <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for team in app.user.teams %}
                                <li><a href="{{ path('_team_page', {'id': team.id}) }}}">{{ team.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{{ path('_teams') }}">Teams</a></li>
                    <li><a href="{{ path('_players') }}">Players</a></li>
                    <li><a href="">Contact us</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}">Log in</a></li>
                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>